.container {
  padding: 0 2rem;
}

.main {
  width: 80vw;
  margin: auto;
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

@media (min-width: 750px) {
  .main {
    flex-direction: row;
    justify-content: space-around;
  }
}

.main > div:first-child {
  min-width: 50%;
  width: fit-content;
  font-size: 1.1em;
  font-family: 'Rubik', sans-serif;
  color: aliceblue;
}

.main > div:nth-child(2) {
  width: 38%;
}

@keyframes move {
  0% {
    transform: scaleX(1) rotateZ(0deg) translateX(0);
  }
  50% {
    transform: scale(1.14) rotateZ(12deg) translateX(-1%);
  }
  75% {
    transform: scaleX(1) rotateZ(5deg) translateX(0);
  }
  100% {
    transform: scale(1) rotateZ(0deg) translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.95;
  }
}

.main img {
  min-width: 95% !important;
  animation: fadeIn 3s ease, move 10s ease-in-out 2s infinite;
  perspective: 600px;
  filter: 
    drop-shadow(2px 3.5px 5px rgba(19, 99, 223, 0.5))
    drop-shadow(-1.5px -1px 1.5px rgba(19, 99, 223, 0.5))
  ;
}

.main h1 {
  letter-spacing: 2px;
}

.main p {
  color: rgba(240, 248, 255, 0.9);
  line-height: 32px;
  padding-left: 0.3em;
}

.main button { /* rainbowkit connection button */
  padding: 10px 14px !important;
  height: fit-content !important;
  margin-top: 10px !important;
}