.nav {
    position: fixed;
    width: 50vw;
    bottom: 0;
    top: 75vh;
    height: fit-content;
    border-radius: 24px;
    padding: 15px;
    margin-top: 4rem;
    background-color: rgba(255, 255, 255, 0.09);
    z-index: 200;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav > * {
    width: 100%;
    height: 5vh;
    display: block;
    z-index: 200;
}

.nav > span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    height: 40px;
    width: 70px;
    cursor: pointer;
}

.active {
    background-color: rgba(124, 131, 253);
}

.nav svg {
    font-size: 1.2em;
}

@media (min-width: 750px) {
    .nav {
        top: 45vh;
        width: 5.5vw;
        flex-direction: column;
        margin-top: 0;
    }

    .nav > span {
        margin: 1.2vh 0;
        width: 100%;
        height: 5vh;
    }
}